---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -*-avoid-c-arrays,
        -hicpp-signed-bitwise,
        -readability-magic-numbers,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -hicpp-no-assembler,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -readability-identifier-length,
        -performance-no-int-to-ptr,
        -misc-non-private-member-variables-in-classes,
        -concurrency-mt-unsafe,
        -cert-err33-c,
        -cert-err34-c,
        -cert-msc30-c,
        -cert-msc32-c,
        -cert-msc50-cpp,
        -cert-msc51-cpp,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
